.dropdown {
  position: relative;

  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 5px;

    text-transform: uppercase;

    color: var(--darkShade);

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    width: 100%;

    padding: 12px 40px 12px 12px;

    cursor: pointer;
    user-select: none;
    text-overflow: ellipsis;

    color: var(--darkShade75);
    border: 1px solid var(--darkShade25);
    border-radius: 4px;

    font-family: var(--mainFont);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    &:focus {
      outline: none;
    }

    &_active {
      user-select: none;

      border-color: var(--darkShade50);
      border-end-start-radius: 0;
      border-end-end-radius: 0;

      border-bottom-color: transparent;
    }

    &::placeholder {
      color: var(--darkShade75);
    }
  }

  &__input-arrow::before {
    content: 'expand_more';
    position: absolute;
    top: 0;
    right: 10px;

    cursor: pointer;

    color: var(--darkShade50);

    font-family: var(--materialFont);
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
  }

  &__menu {
    position: absolute;
    z-index: 10000;
    top: calc(100% - 1px);

    display: none;

    width: 100%;
    padding: 4px 7px 9px 15px;

    border: 1px solid var(--darkShade50);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;

    &_active {
      display: block;
    }

    &_with-buttons {
      padding-bottom: 6px;
    }
  }

  &__amount-items {
    display: flex;
    flex-direction: column;

    list-style: none;
    row-gap: 7px;
  }

  &__amount-select {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      text-transform: uppercase;

      color: var(--darkShade);

      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
    }

    &-controls {
      display: flex;
      align-items: center;
    }

    &-button {
      position: relative;

      width: 30px;
      height: 30px;

      cursor: pointer;
      transition: opacity 0.3s;

      border: 1px solid var(--darkShade50);
      border-radius: 50%;
      background-color: transparent;

      &_sign_minus::before {
        content: '-';
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        color: var(--darkShade50);
      }

      &_sign_plus::before {
        content: '+';
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        color: var(--darkShade50);
      }

      &:disabled {
        pointer-events: none;

        opacity: 0.5;
      }

      &:hover {
        border-color: var(--darkShade);
      }
    }

    &-number {
      width: 30px;

      text-align: center;

      border: none;
      outline: none;

      font-family: var(--mainFont);
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;

        margin: 0;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 17px;
  }

  &__button {
    &_shift_left {
      margin-left: auto;
    }

    &_hidden {
      display: none;
    }
  }
}
