include ../amountSelect/amountSelect.pug

mixin dropdown(id, label, placeholder, items, buttons=true)
  .dropdown(id=id)
    label.dropdown__label= label
    .dropdown__input-wrapper
      input.dropdown__input(placeholder=placeholder, readonly)
      span.dropdown__input-arrow
    .dropdown__menu
      .dropdown__amount-items
        each item in items
          - const { title, value, min, max } = item;
          +amountSelect(title, value, min, max)
      if (buttons)
      .dropdown__buttons
        button.dropdown__btn.dropdown__btn--clear(type='button') очистить
        button.dropdown__btn.dropdown__btn--apply(type='button') применить
