include ../../../components/head/head.pug

doctype html
html(lang="en")
  +head('Pages')
  body 
    main.main
      h2.main__title Основные страницы
      .main__links
        a.main__link(href="landingPage.html") Главная страница
        a.main__link(href="signIn.html") Страница входа
        a.main__link(href="signUp.html") Страница регистрации
        a.main__link(href="searchRoom.html") Страница поиска номеров
        a.main__link(href="roomDetails.html") Страница с деталями номеров
      h2.main__title Ui Kit
      .main__links
        a.main__link(href="formElements.html") Страница с элементами
        a.main__link(href="colors.html") Страница c цветами и шрифтами
        a.main__link(href="headersAndFooters.html") Страница c header и footer
        a.main__link(href="cards.html") Страница c карточками номеров
