include ../../../components/head/head.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/logo/logo.pug

doctype html
html(lang="en")
  +head('Headers and Footers')
  body
    .headers-and-footers
      header.headers-and-footers__header 
        +logo(false)
      main.headers-and-footers__main
        +header({ activePageName: 'о нас' })
        +header({ activePageName: 'о нас', isAuth: true, userName: 'юлий цезарь' })
        +footer
        +footer
