include ../../../components/head/head.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug

doctype html
html(lang="en")
  +head('Headers and Footers')
  body
    .headers-and-footers
      main.headers-and-footers__main
        +header({ activePageName: 'о нас' })
        +header({ activePageName: 'о нас', isAuth: true, userName: 'юлий цезарь' })
        +footer
        +footer
