mixin pagination
  .pagination 
    .pagination__buttons.js-pagination__buttons
    p.pagination__text 
      span.pagination__text-counter.js-pagination__text-counter
      |
      | вариантов аренды
