include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/search-rooms-form/search-rooms-form.pug
include ../../components/footer/footer.pug

doctype html
html(lang='en')
  +head
  body 
    .wrapper
      +header
      main.main
        .search-rooms
          .search-rooms__container
            .search-rooms__form
              +search-rooms-form
            .search-rooms__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      +footer
