@use '../../../styles/vars';

.colors {
  &__container {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 100px;
  }

  &__colors {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__types {
    display: flex;
    row-gap: 51px;

    flex-direction: column;

    width: 454px;
  }
}
