include ../calendar/calendar.pug
include ../guest-dropdown/guest-dropdown.pug
include ../submit-button/submit-button.pug

mixin search-rooms-form
  form.search-rooms-form
    h1.search-rooms-form__title Найдём номера под ваши пожелания
    .search-rooms-form__calendar.js-search-rooms-form__calendar
      +calendar({ type:'multiple' })
    .search-rooms-form__dropdown
      +guest-dropdown
    +submit-button('подобрать номер')
