mixin radio({ text = '', isChecked = false, name = '', value = ''} = {})
  .radio 
    label.radio__label 
      input.radio__input(type="radio", checked=isChecked, name=name, value=value)
      span.radio__bullet
      span.radio__text= text
