include ../../../components/head/head.pug
include ../../../components/text-field/text-field.pug
include ../../../components/expandable-list/expandable-list.pug
include ../../../components/subscription-field/subscription-field.pug
include ../../../components/masked-field/masked-field.pug
include ../../../components/room-dropdown/room-dropdown.pug
include ../../../components/guest-dropdown/guest-dropdown.pug
include ../../../components/date-field/date-field.pug
include ../../../components/calendar/calendar.pug
include ../../../components/feature-item/feature-item.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/radio/radio.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like-button/like-button.pug
include ../../../components/rate/rate.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/submit-button/submit-button.pug
include ../../../components/link/link.pug
include ../../../components/button/button.pug
include ../../../components/pagination/pagination.pug
include ../../../components/review-item/review-item.pug

doctype html
html(lang="en")
  +head('Form Elements')
  body
    .form-elements
      main.form-elements__main
        .form-elements__container
          .form-elements__inner
            .form-elements__columns
              .form-elements__first-column
                .form-elements__text-field
                  +text-field({ text:'Text Field', type:'email', name: 'email', placeholder: 'Email' })
                .form-elements__text-field
                  +text-field({ text:'Text Field', type:'email', placeholder: 'Email', isFocused: true, name: 'extra-email', value: 'This is pretty awesome' })
                .form-elements__guest-dropdown.form-elements__guest-dropdown_shift_bottom
                  +guest-dropdown({ label: 'dropdown' })
                .form-elements__masked-field
                  +masked-field({ text:'masked text field', name: 'date' })
                .form-elements__multiple-calendar
                  +calendar({ type: 'multiple', title: 'date Dropdown', secondTitle: 'date Dropdown' })
                .form-elements__filter-calendar
                  +calendar({ type: 'single', title: 'filter date dropdown' })
                .form-elements__subscription-field
                  +subscription-field('subscription text field')
                .form-elements__room-dropdown
                  +room-dropdown({ label: 'dropdown', values: [2, 2] })
                .form-elements__room-dropdown.form-elements__room-dropdown_shift_bottom
                  +room-dropdown({ label: 'dropdown', values: [2, 2], isActive: true })
                - const expandableItems = [{ title: "Завтрак" }, { title: "Письменный стол", isChecked: true }, { title: "Стул для кормления", isChecked: true }, { title: "Кроватка", isChecked: true }, { title: "Телевизор" }, { title: "Шампунь" }];
                .form-elements__expandable-list.form-elements__expandable-list_shift_bottom
                  +expandable-list({ title:'expandable checkbox list', items: expandableItems })
                .form-elements__expandable-list
                  +expandable-list({ title: 'expandable checkbox list', items: expandableItems, isActive: true })
              .form-elements__second-column
                .form-elements__checkbox-buttons-list
                  -
                    const checkboxItems = [
                      { title: 'Можно курить'},
                      { title: 'Можно с питомцами', isChecked: true },
                      { title: 'Можно пригласить гостей (до 10 человек)', isChecked: true }];
                  +checkbox-list({ title: 'checkbox buttons', items: checkboxItems })
                .form-elements__radio-buttons
                  -
                    const radioItems = [
                      { text: 'Мужчина', isChecked: true, name: 'genders', value: 'man' },
                      { text: 'Женщина', name: 'genders', value: 'woman' }]
                  h3.form-elements__radio-buttons-title Radio Buttons
                  .form-elements__radio-buttons-items
                    each item in radioItems
                      +radio(item)
                .form-elements__toggle 
                  h3.form-elements__toggle-title Toggle
                  .form-elements__toggle-items
                    -
                      const toggleItems = [
                        { text: 'Получать спецпредложения', isChecked: true },
                        { text: 'Получать спецпредложения'}
                        ];
                    each toggleItem in toggleItems
                      +toggle(toggleItem.text, toggleItem.isChecked)
                .form-elements__like-buttons 
                  h3.form-elements__like-buttons-title like button
                  .form-elements__like-buttons-items
                    -
                      const likeButtonsItems = [{ likeCount: 2 }, { likeCount: 12, isLiked: true }];
                    each likeButtonItem in likeButtonsItems 
                      +like-button({likeCount: likeButtonItem.likeCount, isLiked: likeButtonItem.isLiked})
                .form-elements__rate-buttons 
                  h3.form-elements__rate-buttons-title rate button
                  .form-elements__rate-buttons-items 
                    -
                      const rateItems = [{ rateNumber: 4 }, { rateNumber: 5 }];
                    each rateItem in rateItems 
                      +rate(rateItem.rateNumber) 
                .form-elements__guest-dropdown-second
                  +guest-dropdown({ label: 'dropdown', isActive: true })
                .form-elements__rich-checkbox-buttons
                  -
                    const richCheckboxItems = [
                      { title: 'Широкий коридор', text: "Ширина коридоров в номере \n не менее 91 см." },
                      { title: 'Помощник для инвалидов', text: "На 1 этаже вас встретит специалист \n и проводит до номера." }]
                  +checkbox-list({ title: 'rich Checkbox Buttons', items: richCheckboxItems, type:'rich' })
              .form-elements__third-column
                .form-elements__range-slider 
                  +range-slider
                .form-elements__buttons
                  h3.form-elements__buttons-title buttons
                  .form-elements__buttons-links
                    +link({ text: 'click me' })
                    +link({ text: 'click me', isHovered: true })
                  .form-elements__buttons-links.form-elements__buttons-links_shift_bottom
                    +link({ text: 'click me', withBorder: true })
                    +link({ text: 'click me', withBorder: true, isHovered: true })
                  .form-elements__buttons-buttons 
                    +button({ text: 'click me' })
                    +button({ text: 'click me', isHovered: true })
                  .form-elements__buttons-submit-button
                    +submit-button('перейти к оплате')
                .form-elements__pagination
                  h3.form-elements__pagination-title= "pagination"
                  .form-elements__pagination-pagination
                    +pagination
                .form-elements__guest-dropdown-third
                  +guest-dropdown({ label: 'Dropdown', values: [2, 1], isActive: true })
                .form-elements__bullet-list
                  -
                    const bulletItems = [
                      'Нельзя с питомцами',
                      'Без вечеринок и мероприятий',
                      'Время прибытия — после 13:00, а выезд до 12:00'];

                  +bullet-list({ title:'bullet list', itemsTitle: bulletItems})
            .form-elements__row-bottom
              .form-elements__feature-items 
                .form-elements__feature-item
                  +feature-item({ title: 'Комфорт', text: 'Шумопоглощающие' })
                .form-elements__feature-item
                  +feature-item({ title: 'Удобство', text: 'Окно в каждой из спален', iconText: 'location_city' })
              .form-elements__review-item
                +review-item({ name: 'Мурад Сарафанов', online: '5 дней назад', avatarSrc: require('../../../assets/img/user-img-1.jpg'), likeCount: 12, isLiked: true, text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.' })
