include ../../../components/head/head.pug
include ../../../components/text-field/text-field.pug
include ../../../components/expandable-list/expandable-list.pug
include ../../../components/subscription-field/subscription-field.pug
include ../../../components/masked-field/masked-field.pug
include ../../../components/room-dropdown/room-dropdown.pug
include ../../../components/guest-dropdown/guest-dropdown.pug
include ../../../components/date-field/date-field.pug
include ../../../components/calendar/calendar.pug
include ../../../components/feature-item/feature-item.pug
include ../../../components/checkbox-list/checkbox-list.pug
include ../../../components/radio/radio.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like-btn/like-btn.pug
include ../../../components/rate/rate.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/submit-btn/submit-btn.pug
include ../../../components/link/link.pug
include ../../../components/button/button.pug
include ../../../components/pagination/pagination.pug
include ../../../components/review-item/review-item.pug

doctype html
html(lang="en")
  +head('Form Elements')
  body
    .form-elements
      main.form-elements__main
        .form-elements__container
          .form-elements__inner
            .form-elements__columns
              .form-elements__first-column
                .form-elements__text-field
                  +text-field({text:'Text Field', type:'email', name: 'email', placeholder: 'Email', id: 'email'})
                .form-elements__text-field
                  +text-field({text:'Text Field', type:'email', placeholder: 'Email', focus: true, name: 'extra-email', value: 'This is pretty awesome', id:'extra-email'})
                .form-elements__guest-dropdown-first
                  +guest-dropdown({label: 'dropdown'})
                .form-elements__masked-field
                  +masked-field({text:'masked text field', id: 'date', name: 'date'})
                .form-elements__multiple-calendar.js-form-elements__multiple-calendar
                  +calendar({type: 'multiple', title: 'date Dropdown', secondTitle: 'date Dropdown'})
                .form-elements__filter-calendar.js-form-elements__filter-calendar
                  +calendar({type: 'single', title: 'filter date dropdown'})
                .form-elements__subscription-field
                  +subscription-field({text:'subscription text field', id:'subscription'})
                .form-elements__room-dropdown.js-form-elements__room-dropdown
                  +room-dropdown({label: 'dropdown', values: [2, 2]})
                .form-elements__room-dropdown.form-elements__room-dropdown_position_margin-bottom.js-form-elements__room-dropdown
                  +room-dropdown({label: 'dropdown',values: [2, 2], active: true})
                - const expandableItems = ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"];
                .form-elements__expandable-list
                  +expandable-list('expandable checkbox list', expandableItems)
                .form-elements__expandable-list.form-elements__expandable-list_position_margin-bottom
                  +expandable-list('expandable checkbox list', expandableItems, true)
              .form-elements__second-column
                .form-elements__checkbox-buttons-list
                  -
                    const checkboxItems = [
                      { title: 'Можно курить'},
                      { title: 'Можно с питомцами', checked: true },
                      { title: 'Можно пригласить гостей (до 10 человек)', checked: true }];
                  +checkbox-list('checkbox buttons', checkboxItems)
                .form-elements__radio-buttons
                  -
                    const radioItems = [
                      {text: 'Мужчина', checked: true, name: 'genders', value: 'man'},
                      {text: 'Женщина', name: 'genders', value: 'woman'}]
                  h3.form-elements__radio-buttons-title Radio Buttons
                  .form-elements__radio-buttons-items
                    each item in radioItems
                      +radio(item)
                .form-elements__toggle 
                  h3.form-elements__toggle-title Toggle
                  .form-elements__toggle-items
                    -
                      const toggleItems = [
                        { text: 'Получать спецпредложения', checked: true },
                        {text: 'Получать спецпредложения'}
                        ];
                    each toggleItem in toggleItems
                      +toggle(toggleItem.text, toggleItem.checked)
                .form-elements__like-buttons 
                  h3.form-elements__like-buttons-title like button
                  .form-elements__like-buttons-items
                    -
                      const likeButtonsItems = [{likeCount: 2 }, {likeCount: 12, liked: true}];
                    each likeButtonItem in likeButtonsItems 
                      +like-btn(likeButtonItem.likeCount, likeButtonItem.liked)
                .form-elements__rate-buttons 
                  h3.form-elements__rate-buttons-title rate button
                  .form-elements__rate-buttons-items 
                    -
                      const rateItems = [{rateNumber: 4 }, {rateNumber: 5 }];
                    each rateItem in rateItems 
                      +rate(rateItem.rateNumber) 
                .form-elements__guest-dropdown-second.js-form-elements__guest-dropdown
                  +guest-dropdown({label: 'dropdown', active: true})
                .form-elements__rich-checkbox-buttons
                  -
                    const richCheckboxItems = [
                      {title: 'Широкий коридор', texts: ["Ширина коридоров в номере", "не менее 91 см."]},
                      {title: 'Помощник для инвалидов', texts: ["На 1 этаже вас встретит специалист", "и проводит до номера."]}]
                  +checkbox-list('rich Checkbox Buttons', richCheckboxItems, type='rich')
              .form-elements__third-column
                .form-elements__range-slider 
                  +range-slider
                .form-elements__buttons
                  h3.form-elements__buttons-title buttons
                  .form-elements__buttons-links
                    +link({text: 'click me'})
                    +link({text: 'click me', active: true})
                  .form-elements__buttons-links.form-elements__buttons-links_position_margin-bottom
                    +link({text: 'click me', border: true})
                    +link({text: 'click me', border: true, active: true})
                  .form-elements__buttons-buttons 
                    +button({text: 'click me'})
                    +button({text: 'click me', active: true})
                  .form-elements__buttons-submit-btn
                    +submit-btn('перейти к оплате')
                .form-elements__pagination
                  h3.form-elements__pagination-title= "pagination"
                  .form-elements__pagination-pagination
                    +pagination
                .form-elements__guest-dropdown-third.js-form-elements__guest-dropdown
                  +guest-dropdown({label: 'Dropdown', values: [2, 1], active: true})
                .form-elements__bullet-list
                  -
                    const bulletItems = [
                      'Нельзя с питомцами',
                      'Без вечеринок и мероприятий',
                      'Время прибытия — после 13:00, а выезд до 12:00'];

                  +bullet-list('bullet list', bulletItems)
            .form-elements__row-bottom
              .form-elements__feature-items 
                .form-elements__feature-item
                  +feature-item('Комфорт', 'Шумопоглощающие стены', 'insert_emoticon')
                .form-elements__feature-item
                  +feature-item('Удобство', 'Окно в каждой из спален', 'location_city')
              .form-elements__review-item
                +review-item({name: 'Мурад Сарафанов', online: '5 дней назад', avatarSrc: require('../../../assets/img/user-img-1.jpg'), likeCount: 12, isLiked: true, text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
