.text-type {
  display: flex;

  &__tag-name {
    margin-right: 30px;

    color: var(--darkShade25);

    &_type_h1 {
      font-size: 24px;
      line-height: 29px;
    }

    &_type_h2 {
      margin-left: 2px;

      font-size: 19px;
      line-height: 23px;
    }

    &_type_h3 {
      margin-left: 11px;

      font-size: 12px;
      line-height: 15px;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__text {
    white-space: pre-line;

    &_size_big {
      text-transform: uppercase;
    }

    &_tag_h1 {
      color: var(--darkShade);

      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }

    &_tag_h2 {
      color: var(--darkShade);

      font-size: 19px;
      font-weight: 700;
      line-height: 23px;
    }

    &_tag_h3 {
      color: var(--darkShade);

      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
    }
  }
}
