include ../dropdown/dropdown.pug

mixin room-dropdown({ label = 'удобства номера', values = [], placeholder = 'Выберите удобства', isActive = false } = {})
  .room-dropdown.js-room-dropdown
    -
      const items= [{ title: 'спальни', value: 0 }, { title: 'кровати', value: 0 }, { title: 'ванные комнаты', value: 0 }];
      if (values.length > 0) {
        values.forEach((value, index) => items[index].value = value)
      }

    +dropdown({ label, placeholder, withButtons: false, items, isActive: isActive })
