.button {
  padding: 5px 0;

  cursor: pointer;
  text-transform: uppercase;

  color: var(--purple);
  border: none;
  background-color: white;

  font-family: var(--mainFont);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;

  &--active {
    color: var(--darkShade50);
  }

  &:active {
    color: var(--darkShade50);
  }
}
