include ../like-btn/like-btn.pug

mixin review-item({name, online, avatarSrc, likeCount, isLiked, text})
  .review-item 
    .review-item__user 
      img.review-item__user-img(src=avatarSrc, alt="user avatar")
      .review-item__user-info 
        .review-item__user-name= name
        .review-item__user-online= online
    .review-item__comment
      .review-item__like
      +like-btn(likeCount, isLiked)
      p.review-item__text= text
