include ../like-btn/like-btn.pug

mixin review-item({name, online, avatarSrc, likeCount, isLiked, text})
  .reviewItem 
    .reviewItem__user 
      img.reviewItem__user-img(src=avatarSrc, alt="user avatar")
      .reviewItem__user-info 
        .reviewItem__user-name= name
        .reviewItem__user-online= online
    .reviewItem__comment
      .reviewItem__like
      +like-btn(likeCount, isLiked)
      p.reviewItem__text= text
