@use '../../styles/vars';
@import '../../styles/mixins';

.pie-chart {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  row-gap: 50px;

  &__chart {
    position: relative;

    width: 122px;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;

    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__text {
    color: var(--purple);

    font-weight: 700;
    line-height: 15px;

    @include text-gradient;
  }

  &__number {
    color: var(--purple);

    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    @include text-gradient;
  }

  &__list {
    list-style: none;

    &-item {
      position: relative;

      padding-left: 11px;

      word-wrap: break-word;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 1px;

        width: 10px;
        height: 10px;

        transform: translate(-50%, -50%);

        border-radius: 50%;
      }
    }

    &-item_color_orange::before {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &-item_color_green::before {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &-item_color_purple::before {
      background: var(--gradient);
    }

    &-item_color_black::before {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }
}
