.like-button {
  display: flex;
  align-items: center;

  min-width: 40px;
  height: 20px;
  padding-left: 0;

  cursor: pointer;

  color: var(--darkShade25);
  border: 1px solid var(--darkShade25);
  border-radius: 10px;
  background-color: #fff;

  font-size: 10px;

  &_liked {
    color: var(--purple);
    border-color: var(--purple);
  }

  &__heart {
    position: relative;

    width: 20px;
    height: 20px;

    font-family: var(--materialFont);
    font-size: 10px;
    font-weight: 400;
    font-style: normal;

    &::before {
      content: 'favorite_border';
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }

  &_liked &__heart::before {
    content: 'favorite';
  }
}
