@import "../../styles/index";

.main {
  padding-top: 30px;
  padding-bottom: 72px;

  border-bottom: 1px solid var(--darkShade25);

  &__inner {
    display: flex;

    @include extraLarge {
      flex-direction: column;
    }
  }

  &__filter {
    max-width: 266px;
    margin-right: 60px;

    @include extraLarge {
      width: 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
}

.content {
  &__title {
    margin-bottom: 22px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(255px, 271px));
    gap: 20px 12px;

    margin-bottom: 43px;

    @include extraLarge {
      grid-template-columns: repeat(3, 1fr);
    }

    @include large {
      grid-template-columns: repeat(2, 1fr);
    }

    @include medium {
      grid-template-columns: 1fr;
    }
  }

  &__pagination {
    margin-right: 14px;
  }
}
