@use '../../styles/vars';

@import '../../styles/index';
.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  padding-top: 30px;
  padding-bottom: 72px;

  border-bottom: 1px solid var(--darkShade25);
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__inner {
    display: flex;

    @include extraLarge {
      flex-direction: column;
    }
  }

  &__filter {
    max-width: 266px;
    margin-right: 60px;

    @include extraLarge {
      width: 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
}

.content {
  &__title {
    margin-bottom: 22px;
    color: var(--darkShade);

    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(255px, 271px));
    gap: 20px 12px;

    margin-bottom: 41px;

    @include extraLarge {
      grid-template-columns: repeat(3, 1fr);
    }

    @include large {
      grid-template-columns: repeat(2, 1fr);
    }

    @include medium {
      grid-template-columns: 1fr;
    }
  }

  &__pagination {
    margin-right: 14px;
  }
}
