mixin feature-item({ title = '', text = '', iconText = 'insert_emoticon' } = {})
  .feature-item 
    .feature-item__icon= iconText
    .feature-item__description 
      h3.feature-item__title= title
      p.feature-item__text= text
