include ../../components/head/head.pug

doctype html
html(lang="en")
  +head('Colors')
  body
    main.main 
      .main__container
        .main__inner 
          .colors
            .colors__item 
              .colors__color.colors__color_color_darkShade
              .colors__column 
                .colors__name Dark Shade 100%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color_color_darkShade75 
              .colors__column 
                .colors__name Dark Shade 75%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color_color_darkShade50 
              .colors__column 
                .colors__name Dark Shade 50%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color_color_darkShade25
              .colors__column 
                .colors__name Dark Shade 25%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color_color_white
              .colors__column 
                .colors__name Dark Shade 5%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color_color_purple 
              .colors__column 
                .colors__name Purple
                .colors__hex #BC9CFF
            .colors__item 
              .colors__color.colors__color_color_green 
              .colors__column 
                .colors__name Green
                .colors__hex #6FCF97
          .types
            .types__item 
              .types__tag.types__tag_name_h1 H1
              h1.types__text.types__text_title_h1 This one is the sub-section or widget title
            .types__item
              .types__tag.types__tag_name_h2 H2
              h2.types__text.types__text_title_h2 Next one is the item title inside widgets
            .types__item
              .types__tag.types__tag_tag-name_h3 H3
              h3.types__text.types__text_transform_uppercase.types__text_title_h3 This is a label or CTA text
            .types__item
              .types__tag.types__tag_tag-name_body Body
              p.types__text This is the body text which is used for most of the design, like paragraphs, lists, etc.
