doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Toxin
  body
    main.main 
      .container
        .main__inner 
          .colors
            .colors__item 
              .colors__color.colors__color--darkShade
              .colors__column 
                .colors__name Dark Shade 100%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color--darkShade75 
              .colors__column 
                .colors__name Dark Shade 75%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color--darkShade50 
              .colors__column 
                .colors__name Dark Shade 50%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color--darkShade25
              .colors__column 
                .colors__name Dark Shade 25%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color--white
              .colors__column 
                .colors__name Dark Shade 5%
                .colors__hex #1F2041
            .colors__item 
              .colors__color.colors__color--purple 
              .colors__column 
                .colors__name Purple
                .colors__hex #BC9CFF
            .colors__item 
              .colors__color.colors__color--green 
              .colors__column 
                .colors__name Green
                .colors__hex #6FCF97
          .types
            .types__item 
              .types__tag.types__tag--h1 H1
              h1.types__text This one is the sub-section or widget title
            .types__item 
              .types__tag.types__tag--h2 H2
              h2.types__text Next one is the item title inside widgets
            .types__item
              .types__tag.types__tag--h3 H3
              h3.types__text.types__text--uppercase This is a label or CTA text
            .types__item
              .types__tag.types__tag--body Body
              p.types__text This is the body text which is used for most of the design, like paragraphs, lists, etc.
