include ../../../components/head/head.pug
include ../../../components/header/header.pug
include ../../../components/search-rooms-form/search-rooms-form.pug
include ../../../components/footer/footer.pug

doctype html
html(lang="en")
  +head
  body 
    .landing-page
      +header
      main.landing-page__main
        .landing-page__search-rooms
          .landing-page__search-rooms-container
            .landing-page__search-rooms-form
              +search-rooms-form
            .landing-page__search-rooms-text Лучшие номера для вашей работы, отдыха и просто вдохновения
      +footer
