@import '../../../styles/mixins';

.landing-page {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  &__main {
    flex: 1 1 auto;
  }

  &__search-rooms {
    background-image: url('/assets/img/landing-page-bg.jpg');
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 100%;

    &-container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 70px 134px 21px 140px;

      @include medium {
        padding: 40px 20px;
      }

      @include small {
        padding: 30px 15px;
      }
    }

    &-form {
      max-width: 380px;

      @include medium {
        margin: auto;
      }
    }

    &-text {
      max-width: 297px;
      margin-top: 317px;
      margin-left: auto;

      text-align: right;

      @include medium {
        display: none;
      }
    }

    @media (max-width: 1330px) {
      background-position: center;
      background-size: cover;
    }
  }
}
