@use '../../styles/vars';
@import 'nouislider/dist/nouislider.css';

.range-slider {
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__title {
    text-transform: uppercase;

    color: var(--darkShade);

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  &__price {
    font-family: var(--mainFont);
    font-size: 12px;
    line-height: 15px;
  }

  &__note-text {
    margin-top: 15px;

    color: var(--darkShade50);

    font-family: var(--mainFont);
    font-size: 12px;
    line-height: 14px;
  }

  &__slider {
    cursor: pointer;
  }
}

.noUi {
  &-horizontal {
    height: 5px;

    border: 1px solid var(--darkShade25);
  }

  &-target {
    border-radius: 3px;
  }

  &-connects {
    overflow: visible;
  }

  &-connect {
    top: -2px;

    height: 6px;

    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &-handle {
    cursor: pointer;
  }

  &-horizontal &-handle {
    top: -6px;
    left: calc(100% - 3px);

    width: 16px;
    height: 16px;

    border: none;
    border: 2px solid #fff;
    border-radius: 50%;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    box-shadow: none;
  }

  &-handle::before,
  &-handle::after {
    content: none;

    display: none;
  }
}
