@mixin extraLarge {
  @media (max-width: (1200px)) {
    @content;
  }
}

@mixin large {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin medium {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin small {
  @media (max-width: (420px)) {
    @content;
  }
}

@mixin textGradient {
  color: var(--purple);
  background: var(--gradient);
  background-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin MaterialIcon($content) {
  position: absolute;

  content: $content;

  font-family: var(--materialFont);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
