- const TOTAL_STARS_COUNT = 5;

mixin rate(rateNumber)
  .rate
    //- - for(let i = 0; i < TOTAL_STARS_COUNT; i++)
    //-   - const iconName = i < rateNumber ? "star" : "star_border";
    //-     i.rate__icon= iconName
