include ../checkbox-item/checkbox-item.pug

mixin expandable-list(title='', items=[], active=false)
  .expandable-list.js-expandable-list
    .expandable-list__header.js-expandable-list__header
      h3.expandable-list__title= title
      span.expandable-list__arrow.js-expandable-list__arrow(
        class=active ? "js-expandable-list__arrow_active" : ""
      ) expand_more
    ul.expandable-list__menu.js-expandable-list__menu(
      class=active ? "js-expandable-list__menu_active" : ""
    )
      each item in items 
        li.expandable-list__item
          +checkbox-item(item)
