@use '../../styles/vars';

.expandable-list {
  position: relative;

  background-color: #fff;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;

    color: var(--darkShade);

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    user-select: none;
    transition: transform 0.8s;

    font-family: var(--materialFont);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  &__menu {
    position: absolute;
    z-index: 1000;
    top: 44px;

    display: flex;
    display: none;
    flex-direction: column;

    width: 100%;
    padding-top: 3px;

    background-color: #fff;
    row-gap: 10px;
  }
}

.js-expandable-list {
  &__arrow_active {
    transform: rotate(-180deg);
  }

  &__menu_active {
    display: flex;
  }
}
