include ../checkbox-list/checkbox-list.pug

mixin expandable-list({ title = '', items = [], isActive = false } = {})
  .expandable-list.js-expandable-list
    .expandable-list__header.js-expandable-list__header
      h3.expandable-list__title= title
      span.expandable-list__arrow.js-expandable-list__arrow(
        class=isActive && "expandable-list__arrow_active"
      ) expand_more
    .expandable-list__menu.js-expandable-list__menu(class=isActive && "expandable-list__menu_active")
      +checkbox-list({ items })
