mixin logo(withText=true)
  .logo
    if (withText)
      img.logo__img(src=require("/assets/svg/logo.svg"), alt="company logo")
    else
      img.logo__img(src=require("/assets/svg/logo-grey.svg"), alt="company logo")
