.checkbox-list {
  &__title {
    margin-bottom: 16px;

    text-transform: uppercase;

    color: var(--darkShade);

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 11px;

    list-style: none;
  }
}
