mixin richCheckboxItem(title, text)
  .rich-checkbox-item
    label.rich-checkbox-item__label
      input.rich-checkbox-item__input.visually-hidden(type='checkbox')
      span.rich-checkbox-item__box 
      span.rich-checkbox-item__title= title
    p.rich-checkbox-item__text= text
