include ../text-field/text-field.pug
include ../radio/radio.pug
include ../masked-field/masked-field.pug
include ../toggle/toggle.pug
include ../submit-button/submit-button.pug
include ../link/link.pug

mixin sign-up-form
  form.sign-up-form
    h1.sign-up-form__title Регистрация аккаунта
    .sign-up-form__fields 
      +text-field({placeholder:'Имя', name: 'name'})
      +text-field({placeholder:'Фамилия', name:'surname'})
    .sign-up-form__radios
      +radio({text: 'Мужчина', checked: true, name: 'gender', value: 'Мужчина'})
      +radio({text: 'Женщина', name: 'gender', value: 'Женщина'})
    .sign-up-form__birth-field
      +masked-field({text: 'дата рождения', id: 'birthdate', name: 'birthdate'})
    .sign-up-form__fields 
      +text-field({text: 'данные для входа в сервис', placeholder: 'Email', type: 'email', name: 'email'})
      +text-field({placeholder: 'Пароль', type:'password', name: 'password'})
    .sign-up-form__toggle 
      +toggle("Получать спецпредложения")
    .sign-up-form__submit-button 
      +submit-button('зарегистрироваться')
    .sign-up-form__info 
      p.sign-up-form__text Уже есть аккаунт на Toxin
      +link({text: 'Войти', href: '/signIn.html', border: true})
