include ../datepicker/datepicker.pug
include ../calendar/calendar.pug
include ../checkboxList/checkboxList.pug
include ../richCheckboxItem/richCheckboxItem.pug
include ../rangeSlider/rangeSlider.pug
include ../expandableList/expandableList.pug
include ../guestDropdown/guestDropdown.pug
include ../roomDropdown/roomDropdown.pug
include ../button/button.pug

mixin filter
  .filter
    .filter__btn.js-filter__btn
      +button('открыть фильтр')
    .filter__content.js-filter__content
      .filter__content-wrapper
        button.filter__content-btn-close.js-filter__btn(type='button')
        .filter__calendar 
          +calendar({calendarId: 'calendar', datePickerId: 'datepicker'})
        .filter__guest-dropdown
          +guestDropdown({values: [1,2,1]})
        .filter__range-slider 
          +rangeSlider('range-slider','диапазон цены', 'Стоимость за сутки пребывания в номере')
        .filter__rules
          - const checkboxItems = [{ title: 'Можно курить' }, { title: 'Можно с питомцами' }, { title: 'Можно пригласить гостей (до 10 человек)' }];
          +checkboxList('правила дома', checkboxItems, '')
        .filter__availability
          - const richCheckboxItems = [{ title: 'Широкий коридор', text: 'Ширина коридоров в номере не менее 91 см.' }, { title: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист  и проводит до номера.' }];
          +checkboxList('доступность', richCheckboxItems, 'rich')
        .filter__room-dropdown.js-filter__room-dropdown
          +roomDropdown({values: [2,2]})
        .filter__expandable-list 
          - const expandableItems = ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'];
            +expandableList('дополнительные удобства', expandableItems)
