include ../datepicker/datepicker.pug
include ../calendar/calendar.pug
include ../checkbox-list/checkbox-list.pug
include ../rich-checkbox-item/rich-checkbox-item.pug
include ../range-slider/range-slider.pug
include ../expandable-list/expandable-list.pug
include ../guest-dropdown/guest-dropdown.pug
include ../room-dropdown/room-dropdown.pug
include ../button/button.pug

mixin filter
  .filter
    .filter__btn.js-filter__btn
      +button({text: 'открыть фильтр'})
    .filter__content.js-filter__content
      .filter__content-wrapper
        button.filter__content-btn-close.js-filter__btn(type="button")
        .filter__calendar 
          +calendar({}, 'datepicker')
        .filter__guest-dropdown.js-filter__guest-dropdown
          +guest-dropdown({values: [1,2,1]})
        .filter__range-slider 
          +range-slider({title: 'диапазон цены', text: 'Стоимость за сутки пребывания в номере'})
        .filter__rules
          - const checkboxItems = [{ title: "Можно курить" }, { title: "Можно с питомцами" }, { title: "Можно пригласить гостей (до 10 человек)" }];
          +checkbox-list('правила дома', checkboxItems, '')
        .filter__availability
          - const richCheckboxItems = [{ title: "Широкий коридор", texts: ["Ширина коридоров в номере", "не менее 91 см."] }, { title: "Помощник для инвалидов", texts: ["На 1 этаже вас встретит специалист", "и проводит до номера."] }];
          +checkbox-list('доступность', richCheckboxItems, 'rich')
        .filter__room-dropdown.js-filter__room-dropdown
          +room-dropdown({values: [2,2]})
        .filter__expandable-list 
          - const expandableItems = ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"];
            +expandable-list('дополнительные удобства', expandableItems)
