include ../calendar/calendar.pug
include ../checkbox-list/checkbox-list.pug
include ../range-slider/range-slider.pug
include ../expandable-list/expandable-list.pug
include ../guest-dropdown/guest-dropdown.pug
include ../room-dropdown/room-dropdown.pug
include ../button/button.pug

mixin filter
  .filter.js-filter
    .filter__button.js-filter__button
      +button({ text: 'открыть фильтр' })
    .filter__content.js-filter__content
      .filter__content-wrapper
        button.filter__content-button-close.js-filter__content-button-close(type="button")
        .filter__calendar 
          +calendar({ type:'single' })
        .filter__guest-dropdown
          +guest-dropdown({ values: [1,2,1] })
        .filter__range-slider 
          +range-slider({ title: 'диапазон цены', text: 'Стоимость за сутки пребывания в номере' })
        .filter__rules
          - const checkboxItems = [{ title: "Можно курить" }, { title: "Можно с питомцами", isChecked: true }, { title: "Можно пригласить гостей (до 10 человек)", isChecked: true }];
          +checkbox-list({ title: 'правила дома', items: checkboxItems })
        .filter__availability
          - const richCheckboxItems = [{ title: "Широкий коридор", text: "Ширина коридоров в номере \n не менее 91 см." }, { title: "Помощник для инвалидов", text: "На 1 этаже вас встретит специалист \n и проводит до номера." }];
          +checkbox-list({ title: 'доступность', items: richCheckboxItems, type: 'rich' })
        .filter__room-dropdown
          +room-dropdown({ values: [2,2] })
        .filter__expandable-list 
          - const expandableItems = [{ title: "Завтрак" }, { title: "Письменный стол", isChecked: true }, { title: "Стул для кормления", isChecked: true }, { title: "Кроватка", isChecked: true }, { title: "Телевизор" }, { title: "Шампунь" }];
            +expandable-list({ title: 'дополнительные удобства', items: expandableItems })
