.filter {
  &__calender {
    margin-bottom: 19px;
  }

  &__guest-dropdown {
    margin-bottom: 30px;
  }

  &__range-slider {
    margin-bottom: 29px;
  }

  &__rules {
    margin-bottom: 31px;
  }

  &__availability {
    margin-bottom: 28px;
  }

  &__room-dropdown {
    margin-bottom: 15px;
  }
}
