include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/filter/filter.pug
include ../../../components/room-card/room-card.pug
include ../../../components/pagination/pagination.pug
include ../../../components/head/head.pug

doctype html
html(lang="en")
  +head('Search room')
  body 
    .search-room
      +header
      main.search-room__main
        .search-room__container
          .search-room__inner 
            .search-room__filter
              +filter
            .search-room__content 
              h1.search-room__content-title Номера, которые мы для вас подобрали
              .search-room__content-cards
                - const { roomCards } = require("../../../js/room-cards.js");
                  each roomCard in roomCards 
                    +room-card(roomCard)
              .search-room__content-pagination
                +pagination
      +footer
