include ../date-field/date-field.pug

mixin calendar({type='', title='', secondTitle= ''} = {})
  .calendar.js-calendar(data-type=type)
    if (type==="multiple")
      .calendar__fields
        .calendar__field.js-calendar__field
          - const dateFieldTitleFirst = title ? title : "прибытие";
            +date-field(dateFieldTitleFirst)
        .calendar__field.js-calendar__field
          - const dateFieldTitleSecond = secondTitle ? secondTitle : "выезд";
          +date-field(dateFieldTitleSecond)
    if (type==='single')
      .calendar__field.js-calendar__field
        - const dateFieldTittleThird = title ? title : "даты пребывания в отеле";
        +date-field(dateFieldTittleThird, 'ДД-ММ - ДД-ММ')
    .calendar__date-picker.js-calendar__date-picker(
      class=type === "" ? "" : "calendar__date-picker_closed calendar__date-picker_shift_top"
    )
