@import '../../styles/mixins';

.calendar {
  position: relative;

  &__fields {
    display: flex;
    column-gap: 20px;

    @include small {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__date-picker {
    position: absolute;
    z-index: 1000;
    top: calc(100% + 5px);

    width: 100%;
  }
}

.js-calendar {
  &__date-picker_close {
    display: none;
  }
}
