@import '../../styles/mixins';

.calendar {
  position: relative;

  &__fields {
    display: flex;
    column-gap: 20px;

    @include small {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__date-picker_position_absolute {
    position: absolute;
    z-index: 1000;
    top: calc(100% + 5px);

    width: 100%;
  }
}

.js-calendar {
  &__date-picker_close {
    display: none;
  }
}

.air-datepicker {
  display: flex;
  flex-direction: column;

  padding: 20px;

  border: 1px solid var(--darkShade25);
  border-radius: 4px;
  background-color: white;

  &-nav {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;

    &--title {
      cursor: pointer;

      color: var(--darkShade);

      font-family: var(--mainFont);
      font-size: 19px;
      font-weight: 700;
      line-height: 23px;
    }
  }

  &-prev {
    position: relative;

    cursor: pointer;

    &::before {
      left: 0;

      color: var(--purple);

      @include material-icon('arrow_back');
    }
  }

  &-next {
    position: relative;

    cursor: pointer;

    &::before {
      right: 0;

      color: var(--purple);

      @include material-icon('arrow_forward');
    }
  }

  &--content {
    margin-bottom: 20px;
  }

  &-body {
    &--day-names {
      display: flex;

      color: var(--purple);

      font-family: var(--mainFont);
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
    }

    &--day-name {
      display: flex;
      justify-content: center;

      width: 15%;
      height: auto;
      padding-top: 4.5%;
      padding-bottom: 4.5%;
    }

    &--cells {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      cursor: pointer;

      color: var(--darkShade50);

      font-family: var(--mainFont);
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }

    &.-days-.-hidden- {
      display: none;
    }

    &.-months-.-hidden- {
      display: none;
    }

    &.-years-.-hidden- {
      display: none;
    }
  }

  &-cell {
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;
    padding-top: 32%;
    padding-bottom: 32%;

    &.-current- {
      color: white;
      border-radius: 22px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &.-day-.-other-month- {
      color: var(--darkShade25);
    }

    &.-selected- {
      z-index: 1;

      color: white;
      border-radius: 22px;
      background: var(--gradient);

      font-weight: 700;
    }

    &.-day-.-range-from- {
      position: relative;

      &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        border-radius: 50% 0 0 50%;
        background: var(--gradient25);
      }
    }

    &.-day-.-range-to- {
      position: relative;

      &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        border-radius: 0 50% 50% 0;
        background: var(--gradient25);
      }
    }

    &.-focus- {
      z-index: 10;

      cursor: pointer;

      color: white;
      border: 0 50% 50% 50%;
      border-radius: 22px;
      background: var(--gradient25);
    }

    &.-in-range- {
      background: var(--gradient25);
    }

    &.-current-.-in-range- {
      color: var(--darkShade50);
      border-radius: 0;
    }

    &.-focus-.-in-range- {
      border-radius: 0;
      background: linear-gradient(180deg, rgb(188 156 255 / 50%) 0%, rgb(139 164 249 / 50%) 100%);
    }

    &.-focus-.-selected- {
      background: var(--gradient);
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
  }

  &-button {
    padding: 0;

    cursor: pointer;
    text-transform: uppercase;

    color: var(--purple);
    border: none;
    background-color: transparent;

    font-family: var(--mainFont);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;

    &:active {
      color: var(--darkShade50);
    }
  }
}
