@import '../../../styles/mixins';

.sign-in {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  &__main {
    flex: 1 1 auto;

    background-image: url('/assets/img/login-bg.jpg');
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 100%;

    @media (max-width: 1330px) {
      background-position: center;
      background-size: cover;
    }
  }

  &__inner {
    padding: 172px 20px;

    @include medium {
      padding: 100px 15px;
    }
  }

  &__form {
    max-width: 380px;
    margin: 0 auto;
  }
}
