.header__nav {
  margin-left: auto;

  &-list {
    display: flex;
    column-gap: 20px;

    @include large {
      display: none;
    }
  }

  &-item {
    &--arrow {
      position: relative;

      padding-right: 25px;

      &::before {
        top: 3px;
        right: 0;

        @include MaterialIcon("expand_more");
      }
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &-link {
    color: var(--darkShade50);

    line-height: 17px;

    &--current {
      color: var(--darkShade75);

      font-weight: 700;
    }
  }
}
