@import "../../styles/index";

.sign-in {
  background-image: url("/assets/img/login-bg.jpg");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 100%;

  &__inner {
    padding: 172px 20px;

    @include medium {
      padding: 100px 15px;
    }
  }

  &__form {
    max-width: 380px;
    margin: 0 auto;
    padding: 40px 30px 37px;

    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 25px 1px rgb(0 0 0 / 20%);

    @include medium {
      padding: 40px 15px 37px;
    }
  }

  &__title {
    margin-bottom: 21px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 20px;
  }

  &__submitBtn {
    margin-bottom: 34px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    margin-right: 15px;
  }

  @media (max-width: 1330px) {
    background-position: center;
    background-size: cover;
  }
}
