include ../button/button.pug
include ../headerNav/headerNav.pug

// options: {activePageName: string, user: {name: string}}

mixin header({ activePageName='', user={}})
  header.header 
    .container
      header.header__inner 
        include ../logo/logo.pug
        -
          const items = [{text: 'о нас'}, {text: 'услуги', nested: true},
          {text: 'вакансии'}, {text: 'новости'}, {text: 'соглашения', nested: true} ]
        .header__nav
          +headerNav({items, activePageName: activePageName, user: user})
