include ../button/button.pug
include ../headerNav/headerNav.pug

header.header 
    .container
        header.header__inner 
            include ../logo/logo.pug
            -
                const headerNav = [{text: 'О нас', current: true}, {text: 'Услуги', nested: true},
                 {text: 'Вакансии'}, {text: 'Новости'}, {text: 'Соглашения', nested: true} ]
            +headerNav(headerNav)
            button.header__nav-burger
                    span.header__nav-burger-line

            .header__auth-user
                +button('войти', border=true)
                +button('зарегистрироваться')
