.header {
  background-color: #fff;

  &__inner {
    display: flex;
    align-items: center;

    padding: 15px 0;
  }

  &__nav {
    margin-left: auto;
  }

  @include large {
    position: relative;
  }
}
