include ../link/link.pug
include ../logo/logo.pug

mixin header({ activePageName = '', isAuth = false, userName = '' } = {})
  header.header.js-header
    .header__container
      .header__inner
        a.header__logo-link(href="landing-page.html") 
          +logo
        -
          const items = [ { text: 'о нас' }, { text: 'услуги', isNested: true },
          { text: 'вакансии' }, { text: 'новости' }, { text: 'соглашения', isNested: true } ]
        nav.header__nav
          button.header__nav-burger.js-header__nav-burger
            span.header__nav-burger-line.js-header__nav-burger-line
          .header__nav-content.js-header__nav-content
            ul.header__nav-list
              each item in items
                li.header__nav-item
                  a.header__nav-link(
                    class=item.text.toLowerCase() === activePageName.toLowerCase() && "header__nav-link_active",
                    class=item.isNested && "header__nav-link_sign_arrow",
                    href=item.link || "/mock-address/change-me"
                  )= item.text
            if isAuth
              .header__nav-profile= userName
            else
              .header__nav-auth-user
                +link({ text: 'войти', href: 'signIn.html', withBorder: true, size: 'small' })
                +link({ text: 'зарегистрироваться', href: 'signUp.html', size: 'small' })
