mixin color-type-item({tag='h1', title='This one is the sub-section or widget title', text='This one is the sub-section or widget title' , isUppercase= false} = {})
  .color-type-item 
    .color-type-item__title(class=`color-type-item__title_tag_${tag}`)= title
    p.color-type-item__text(
      class=`color-type-item__text_tag_${tag}`,
      class=isUppercase && "color-type-item__text_size_big"
    )= text
