include ../calendar/calendar.pug
include ../guestDropdown/guestDropdown.pug
include ../submitBtn/submitBtn.pug

mixin searchRoomsForm
  form.search-rooms-form
    h1.search-rooms-form__title Найдём номера под ваши пожелания
    .search-rooms-form__calendar 
      +calendar({calendarId: 'search-rooms-form__calendar', datePickerId: 'search-rooms-form__datepicker' , type:"multiple"})
    .search-rooms-form__dropdown.js-search-rooms-form__dropdown
      +guestDropdown
    +submitBtn('подобрать номер')
