mixin bullet-list({tag='h3', title='', itemsTitle=[]} = {})
  .bullet-list
    if tag === 'h3'
      h3.bullet-list__title.bullet-list__title_h3= title
    else
      h2.bullet-list__title= title
    ul.bullet-list__items
      each title in itemsTitle
        li.bullet-list__item
          .bullet-list__bullet= title
