include ../bullet-item/bullet-item.pug

mixin bullet-list(title, itemsTitle)
  .bullet-list 
    h3.bullet-list__title= title
    .bullet-list__items 
      each title in itemsTitle
        +bullet-item(title)
