include ../../components/filter/filter.pug
include ../../components/roomCard/roomCard.pug
include ../../components/pagination/pagination.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Toxin
  body 
    .wrapper 
      include ../../components/header/header.pug
      main.main
        .container
          .main__inner 
            .main__filter 
              +filter
            .main__content
              .content 
                h1.content__title Номера, которые мы для вас подобрали
                .content__cards
                  - const { roomCards } = require('../../js/roomCards.js');
                    each roomCard in roomCards 
                      +roomCard(roomCard)
                .content__pagination
                  +pagination

      include ../../components/footer/footer.pug
