include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/filter/filter.pug
include ../../components/roomCard/roomCard.pug
include ../../components/pagination/pagination.pug
include ../../components/head/head.pug

doctype html
html(lang='en')
  +head
  body 
    .wrapper 
      +header
      main.main
        .container
          .main__inner 
            .main__filter 
              +filter
            .main__content
              .content 
                h1.content__title Номера, которые мы для вас подобрали
                .content__cards
                  - const { roomCards } = require('../../js/roomCards.js');
                    each roomCard in roomCards 
                      +roomCard(roomCard)
                .content__pagination
                  +pagination
      +footer
