.footer {
  background-color: #fff;

  &__inner {
    @include large {
      padding: 120px 0;
    }
  }

  &__top-inner {
    display: flex;

    padding: 100px 0;

    @include large {
      justify-content: center;

      padding: 0 0 17px;
    }
  }

  &__info {
    max-width: 260px;
    margin-right: 40px;

    @include large {
      margin-right: 0;
    }
  }

  &__info-text {
    margin-top: 17px;

    @include large {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    width: 160px;
    margin-top: 4px;
    margin-right: auto;
    padding-right: 10px;
    row-gap: 21px;

    @include large {
      display: none;
    }
  }

  &__item {
    line-height: 17px;
  }

  &__title {
    margin-bottom: 1px;

    text-transform: uppercase;

    color: var(--darkShade);

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  &__link {
    color: var(--darkShade50);
  }

  &__sub {
    display: flex;
    flex-direction: column;

    max-width: 260px;
    margin-top: 4px;

    @include large {
      display: none;
    }
  }

  &__sub-title {
    margin-bottom: 18px;
  }

  &__sub-text {
    margin-bottom: 23px;
  }

  // FOOTER BOTTOM

  &__bottom {
    height: 70px;

    border-top: 1px solid rgb(31 32 65 / 10%);

    @include large {
      border: none;
    }
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;

    @include large {
      flex-direction: column;

      height: auto;
    }
  }

  &__copyright-text {
    @include large {
      margin-bottom: 21px;

      text-align: center;
    }
  }

  &__icon-list {
    display: flex;
    column-gap: 23px;
  }

  &__icon-link {
    font-size: 24px;
    line-height: 24px;

    @include textGradient;
  }
}
