include ../footer-list/footer-list.pug
include ../subscription-field/subscription-field.pug
include ../logo/logo.pug
include ../footer-icon-list/footer-icon-list.pug

mixin footer
  footer.footer
    .footer__inner
      .footer__top
        .footer__container
          .footer__top-inner 
            .footer__info
              .footer__logo
                +logo
              p.footer__info-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            -
              const lists = [
                { title: 'навигация', items: [{ text: 'О нас' }, { text: 'Новости' }, { text: 'Служба поддержки' }, { text: 'Услуги' }] },
                { title: 'о нас', items: [{ text: 'О сервисе' }, { text: 'Наша команда' }, { text: 'Вакансии' }, { text: 'Инвесторы' }] },
                { title: 'Служба поддержки', items: [{ text: 'Соглашения' }, { text: 'Сообщества' }, { text: 'Связь с нами' }]}
              ];

            each list in lists
              +footer-list(list)

            .footer__sub
              h3.footer__sub-title Подписка
              p.footer__sub-text Получайте специальные предложения и новости сервиса
              form.footer__sub-form(action="/mock-address/change-me")
                +subscription-field({id: 'subscription-email'})

      .footer__bottom
        .footer__container
          .footer__bottom-inner 
            p.footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
            +footer-icon-list
