include ../../components/submitBtn/submitBtn.pug
include ../../components/amountSelect/amountSelect.pug
include ../../components/textField/textField.pug
include ../../components/button/button.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Toxin
  body 
    .wrapper
      include ../../components/header/header.pug
      main.main
        .search-rooms
          .search-rooms__container
            form.search-rooms__form
              h1.search-rooms__form-title Найдём номера под ваши пожелания
              .search-rooms__calender 
                include ../../components/calender/calender.pug
              .dropdown
                label.dropdown__label гости
                .dropdown__input-wrapper
                  input.dropdown__input(placeholder='сколько гостей', readonly)
                  span.dropdown__input-arrow
                .dropdown__menu
                  .dropdown__amount-items
                    +amountSelect('взрослые')
                    +amountSelect('дети')
                    +amountSelect('младенцы')
                  .dropdown__buttons
                    button.dropdown__btn(type='button') очистить
                    button.dropdown__btn(type='button') применить

              +submitBtn('подобрать номер')
            .search-rooms__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      include ../../components/footer/footer.pug
