@import '../../styles/index';

.search-rooms {
  background-image: url('/assets/img/landing-page-bg.jpg');
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 100%;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 134px 21px 140px;

    @include medium {
      padding: 40px 20px;
    }
  }

  &__form {
    max-width: 380px;
    padding: 40px 30px 30px;

    border-radius: 4px;
    background-color: #fff;

    @include medium {
      margin: auto;
    }
  }

  &__form-title {
    margin-bottom: 21px;

    @include small {
      font-size: 20px;
    }
  }

  &__calender {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 297px;
    margin-top: 317px;
    margin-left: auto;

    text-align: right;

    @include medium {
      display: none;
    }
  }

  @media (max-width: 1330px) {
    background-position: center;
    background-size: cover;
  }
}

.dropdown {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 32px; // DELETE

  &__label {
    margin-bottom: 5px;

    text-transform: uppercase;

    color: var(--darkShade);

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    width: 100%;

    padding: 12px 15px;

    cursor: pointer;
    user-select: none;

    color: var(--darkShade75);
    border: 1px solid var(--darkShade25);
    border-radius: 4px;

    font-family: var(--mainFont);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;

    &:hover,
    &:focus {
      user-select: none;

      border: 1px solid var(--darkShade50);
      outline: var(--darkShade50);
    }
  }

  &__input-arrow::before {
    position: absolute;
    top: 0;
    right: 10px;

    content: 'expand_more';

    color: var(--darkShade50);

    font-family: var(--materialFont);
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
  }

  &__menu {
    position: absolute;
    z-index: 1000;
    top: calc(100% - 1px); // height - border 1px

    display: none; // DELETE (make js)

    width: 100%;
    padding: 7px 7px 13px 15px;

    border: 1px solid var(--darkShade50);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
  }

  &__menu--active-js {
    display: block;
  }

  // DROPDOWN

  &__amount-items {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
  }

  &__btn {
    padding: 0;

    cursor: pointer;
    transition: opacity 0.7s;
    text-transform: uppercase;

    color: var(--purple);
    border: none;
    background-color: transparent;

    font-family: var(--mainFont);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;

    &:hover {
      opacity: 0.5;
    }
  }
}
