include ../../components/submitBtn/submitBtn.pug
include ../../components/amountSelect/amountSelect.pug
include ../../components/textField/textField.pug
include ../../components/button/button.pug
include ../../components/guestDropdown/guestDropdown.pug
include ../../components/calender/calender.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Toxin
  body 
    .wrapper
      +header
      main.main
        .search-rooms
          .search-rooms__container
            form.search-rooms__form
              h1.search-rooms__form-title Найдём номера под ваши пожелания
              .search-rooms__calender 
                +calender('calenderId', 'datePickerId', 'multiple')
              .search-rooms__dropdown
                - const items = [{ title: 'взрослые', value: 0 }, { title: 'дети', value: 0 }, { title: 'младенцы', value: 0 }];
                +guestDropdown({items})
              +submitBtn('подобрать номер')
            .search-rooms__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      +footer
