@import "../../styles/index";

.search-rooms {
  background-image: url("/assets/img/landing-page-bg.jpg");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 100%;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 134px 21px 140px;

    @include medium {
      padding: 40px 20px;
    }

    @include small {
      padding: 30px 15px;
    }
  }

  &__form {
    max-width: 380px;
    padding: 40px 30px 30px;

    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 20%);

    @include medium {
      margin: auto;
    }

    @include small {
      padding: 30px 10px 20px;
    }
  }

  &__form-title {
    margin-bottom: 22px;

    @include small {
      font-size: 20px;
    }
  }

  &__calendar {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 31px;
  }

  &__text {
    max-width: 297px;
    margin-top: 317px;
    margin-left: auto;

    text-align: right;

    @include medium {
      display: none;
    }
  }

  @media (max-width: 1330px) {
    background-position: center;
    background-size: cover;
  }
}
