include ../textField/textField.pug
include ../radio/radio.pug
include ../maskedField/maskedField.pug
include ../toggle/toggle.pug
include ../submitBtn/submitBtn.pug
include ../link/link.pug

mixin signUpForm
  form.sign-up-form
    h1.sign-up-form__title Регистрация аккаунта
    .sign-up-form__fields 
      +textField({placeholder:"Имя", name: 'name'})
      +textField({placeholder:"Фамилия", name:'surname'})
    .sign-up-form__radios
      +radio({text: 'Мужчина', checked: true, name: 'gender', value: 'Мужчина'})
      +radio({text: 'Женщина', name: 'gender', value: 'Женщина'})
    .sign-up-form__birth-field
      +maskedField({text: 'дата рождения', id:'birthdate', name: 'birthdate'})
    .sign-up-form__fields 
      +textField({text: 'данные для входа в сервис', placeholder:'Email', type: 'email', name: 'email'})
      +textField({placeholder:"Пароль", type:'password', name: 'password'})
    .sign-up-form__toggle 
      +toggle('Получать спецпредложения')
    .sign-up-form__submit-btn 
      +submitBtn('зарегистрироваться')
    .sign-up-form__info 
      p.sign-up-form__text Уже есть аккаунт на Toxin
      +link({text: 'Войти', href: '/signIn.html', border: true})
