mixin subscription-field({ text='', id=undefined })
  .subscription-field
    if (text)
      label.subscription-field__label(for=id)= text
    .subscription-field__controls
      input.subscription-field__input(type="email", id=id, placeholder="Email", required, name="email")
      button.subscription-field__btn arrow_forward
