mixin subscription-field(text = '')
  .subscription-field
    label.subscription-field__label
      if (text)
        span.subscription-field__text= text
      .subscription-field__controls
        input.subscription-field__input(type="email", placeholder="Email", required, name="email")
        button.subscription-field__button arrow_forward
