mixin masked-field({ text = '', name = '' } = {})
  .masked-field
    label.masked-field__label
      span.masked-field__text= text
      input.masked-field__input.js-masked-field__input(
        type="text",
        name=name,
        placeholder="ДД.ММ.ГГГГ"
      )
