@use '../../styles/vars';
@import '../../styles/mixins';

.booking-form {
  max-width: 380px;
  padding: 40px 29px 29px;

  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 20%);

  &__about {
    margin-bottom: 20px;
  }

  &__calendar {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 18px;
  }

  &__services-items {
    display: flex;
    flex-direction: column;

    margin-bottom: 27px;
    row-gap: 10px;
  }

  &__services-item {
    display: flex;
    flex-wrap: wrap;

    &-info {
      display: flex;
      flex-wrap: wrap;

      margin-right: 10px;
    }

    &-name {
      max-width: 214px;
      margin-right: 5px;

      line-height: 21px;
    }

    &-info-button {
      width: 20px;
      height: 20px;
      margin-right: 5px;

      cursor: pointer;
      text-align: center;

      color: var(--darkShade25);
      border: 1px solid rgb(31 32 65 / 25%);
      border-radius: 50%;
      background-color: transparent;
    }

    &-price {
      margin-left: auto;
    }
  }

  &__result {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin-bottom: 21px;

    color: var(--darkShade);

    font-size: 19px;
    font-weight: 700;
    line-height: 23px;

    &-line {
      align-self: flex-end;

      width: 100%;
      margin: 0 4px;
      margin-bottom: 4px;

      border-bottom: 1px dashed rgb(31 32 65 / 25%);
    }

    &-price {
      white-space: nowrap;
    }
  }

  @include small {
    padding: 40px 15px 29px;
  }
}
