include ../submit-btn/submit-btn.pug
include ../calendar/calendar.pug
include ../guest-dropdown/guest-dropdown.pug

mixin booking-form
  form.booking-form 
    .booking-form__about
      .booking-form__room-numbers 
        span.booking-form__room-symbol №
        | 888
        span.booking-form__room-status люкс
      .booking-form__room-price 9 990₽
        span.booking-form__room-days в сутки
    .booking-form__calendar.js-booking-form__calendar
      +calendar({type: 'multiple'}, 'booking-form__datepicker')
    .booking-form__dropdown.js-booking-form__dropdown
      +guest-dropdown({values: [1,2]})
    .booking-form__services-items 
      .booking-form__services-item
        .booking-form__services-item-info
          span.booking-form__services-item-name 9 990₽ х 4 суток
        span.booking-form__services-item-price 39 960₽
      .booking-form__services-item
        .booking-form__services-item-info
          span.booking-form__services-item-name Сбор за услуги: скидка 2 179₽
          button.booking-form__services-item-info-btn(type="button") i
        span.booking-form__services-item-price 0₽
      .booking-form__services-item
        .booking-form__services-item-info
          span.booking-form__services-item-name Сбор за дополнительные услуги
          button.booking-form__services-item-info-btn(type="button") i
        span.booking-form__services-item-price 300₽
    .booking-form__result Итого
      span.booking-form__result-line
      span.booking-form__result-price 38 081₽
    +submit-btn('забронировать')
