mixin checkboxItem(title, checked=false)
  .checkbox-item
    label.checkbox-item__label
      input.checkbox-item__input.visually-hidden(type='checkbox', checked=checked)
      span.checkbox-item__box
      span.checkbox-item__title= title
