mixin checkbox-item(title, checked=false)
  .checkbox-item
    label.checkbox-item__label
      input.checkbox-item__input.checkbox-item__input_visually_hidden(
        type="checkbox",
        checked=checked
      )
      span.checkbox-item__box
      span.checkbox-item__title= title
