mixin checkbox-item({ title = '', text = '', checked = false, rich = false } = {})
  .checkbox-item
    label.checkbox-item__label
      input.checkbox-item__input(type="checkbox", checked=checked)
      span.checkbox-item__box
      .checkbox-item__description
        if rich
          span.checkbox-item__rich-title= title
          p.checkbox-item__rich-text= text
        else
          span.checkbox-item__title= title
