.checkbox-item {
  &__label {
    display: flex;

    max-width: fit-content;

    cursor: pointer;

    line-height: 18px;
  }

  &__box {
    position: relative;

    display: inline-block;

    width: 100%;
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    margin-right: 10px;

    border: 1px solid var(--darkShade25);
    border-radius: 4px;
  }

  &__input {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;

    white-space: nowrap;
    clip-path: inset(50%);
  }

  &__input:checked + &__box {
    border-color: var(--purple);

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;

      width: 8px;
      height: 6px;

      transform: rotate(135deg);

      border: 2px solid;
      border-bottom: transparent;
      border-left: transparent;
      border-image: var(--gradient);
      border-image-slice: 1;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__rich-title {
    margin-bottom: 6px;

    font-weight: 700;
    line-height: 18px;
  }

  &__rich-text {
    white-space: pre-line;

    color: var(--darkShade50);

    font-size: 12px;
    line-height: 14px;
  }

  &__title {
    max-width: 192px;
    margin-bottom: 2px;

    word-wrap: break-word;

    color: var(--darkShade50);
  }
}
