@import "nouislider/dist/nouislider.css";

.range-slider {
  height: 6px;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__price {
    font-family: var(--mainFont);
    font-size: 12px;
    line-height: 15px;
  }

  &__note-text {
    margin-top: 15px;

    color: var(--darkShade50);

    font-family: var(--mainFont);
    font-size: 12px;
    line-height: 14px;
  }
}

.noUi-horizontal {
  height: 5px;

  border: 1px solid var(--darkShade25);
}

.noUi-target {
  border-radius: 3px;
}

.noUi-connects {
  overflow: visible;
}

.noUi-connect {
  top: -2px;

  height: 6px;

  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.noUi-horizontal .noUi-handle {
  top: -6px;
  left: calc(100% - 3px);

  width: 16px;
  height: 16px;

  border: none;
  border: 2px solid #fff;
  border-radius: 50%;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  box-shadow: none;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;

  content: none;
}
