@use '../../styles/vars';

.toggle {
  display: flex;
  align-items: center;

  &__label {
    display: flex;
    align-items: center;

    margin-right: 10px;

    cursor: pointer;
  }

  &__input_visually_hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;

    white-space: nowrap;
    clip-path: inset(50%);
  }

  &__slider {
    position: relative;

    width: 40px;
    height: 20px;
    margin-right: 10px;
    padding: 4px;

    transition: 0.4s;

    border: 1px solid var(--darkShade25);
    border-radius: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 3px;

      width: 12px;
      height: 12px;

      transition: 0.4s;

      border-radius: 50%;
      background-color: var(--darkShade25);
    }
  }

  &__input:checked + &__slider {
    border-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;

      padding: 1px;

      border-color: transparent;
      border-radius: 22px;
      background: var(--gradient);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: xor;
      mask-composite: exclude;
    }

    &::after {
      transform: translateX(18px);

      background-image: var(--gradient);
    }
  }
}
