mixin toggle(text = '', isChecked = false)
  .toggle 
    label.toggle__label
      input.toggle__input(type = "checkbox", checked = isChecked)
      span.toggle__slider
      span.toggle__text= text
