include ../../components/header/header.pug
include ../../components/head/head.pug
include ../../components/footer/footer.pug
include ../../components/signUpForm/signUpForm.pug

doctype html
html(lang='en')
  +head
  body
    .wrapper 
      +header
      .main
        .sign-up
          .sign-up__inner
            .sign-up__form
              +signUpForm
      +footer
