include ../textField/textField.pug
include ../submitBtn/submitBtn.pug
include ../link/link.pug

mixin signInForm
  form.sign-in-form
    h1.sign-in-form__title Войти
    .sign-in-form__fields
      +textField({type: 'text', placeholder: "Email", name: 'email'})
      +textField({type: 'password', placeholder: 'Пароль', name: 'password'})
    .sign-in-form__submitBtn 
      +submitBtn('войти')
    .sign-in-form__info 
      p.sign-in-form__text Нет аккаунта на Toxin?
      +link({text:'создать', href: '/signUp.html', border:true})
