include ../rate/rate.pug

mixin room-card({roomNumber, price, isLux, reviewsCount, imgsSrc, rateNumber})
  .card
    .card__slider.swiper
      .card__slider-wrapper.swiper-wrapper
        each imgSrc in imgsSrc 
          .card__slide.swiper-slide
            .card__img-wrapper
              img.card__img(src=imgSrc, alt='комната отеля')
      .card__pagination
      button.card__btn.card__btn--prev(type='button')
        i.card__btn-icon.card__btn-icon--prev expand_more
      button.card__btn.card__btn--next(type='button')
        i.card__btn-icon.card__btn-icon--next expand_more
    .card__description
      a.card__description-link(href='/mock-address/change-me')
        .card__description-header
          .card__description-header-room-number
            span.card__description-header-symbol №
            span.card__description-header-number= roomNumber
            if (isLux)
              span.card__description-header-status люкс
          .card__description-header-price
            span.card__description-header-value= price
            span.card__description-header-days в сутки
        .card__description-footer
          .rating
            +rate(rateNumber)
          .card__description-footer-reviews-text
            span.card__description-footer-reviews-count= reviewsCount
            |
            | Отзывов
