mixin footer-list(list)
  ul.footer-list 
    li.footer-list__item
      h3.footer-list__title= list.title
    each item in list.items 
      li.footer-list__item
        a.footer-list__link(href=item.link ? item.link : "/mock-address/change-me")= item.text
