mixin footer-list({ title = '', items = [] } = {})
  ul.footer-list 
    li.footer-list__item
      h3.footer-list__title= title
    each item in items
      li.footer-list__item
        a.footer-list__link(href=item.link || "/mock-address/change-me")= item.text
