@use '../../styles/vars';

.amount-select {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    text-transform: uppercase;
    color: var(--darkShade);

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__btn {
    position: relative;

    width: 30px;
    height: 30px;

    cursor: pointer;
    transition: opacity 0.3s;

    border: 1px solid var(--darkShade50);
    border-radius: 50%;
    background-color: transparent;

    &_sign_minus::before {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 5px;
      height: 1px;

      content: '';
      transform: translate(-50%, -50%);

      background-color: var(--darkShade75);
    }

    &_sign_plus::before {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 5px;
      height: 1px;

      content: '';
      transform: translate(-50%, -50%);

      background-color: var(--darkShade75);
    }

    &_sign_plus::after {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 1px;
      height: 5px;

      content: '';
      transform: translate(-50%, -50%);

      background-color: var(--darkShade75);
    }

    &:disabled {
      pointer-events: none;

      opacity: 0.5;
    }

    &:hover {
      border-color: var(--darkShade);
    }
  }

  &__number {
    width: 30px;

    text-align: center;

    border: none;
    outline: none;

    font-family: var(--mainFont);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;

      margin: 0;
    }
  }
}
