mixin amount-select(title, value, min=0, max)
  .amount-select
    h3.amount-select__title= title
    .amount-select__controls
      button.amount-select__btn.amount-select__btn-minus.js-amount-select__btn-minus(type='button')
      input.amount-select__number.js-amount-select__number(type='number', min=min, max=max, value=value, readonly='')
      button.amount-select__btn.amount-select__btn-plus.js-amount-select__btn-plus(type='button') 
