mixin color-item({color='darkShade', title='Dark Shade 100%', text='#1F2041'} = {})
  .color-item 
    .color-item__color(class=`color-item__color_color_${color}`)
    .color-item__column 
      .color-item__title= title
      .color-item__text= text
