mixin link({ text = '', href = '/mock-address/change-me', border = false, hover = false, size = '' } = {})
  a.link(
    class=border && "link_bordered",
    class=size === "small" && "link_size_small",
    class=hover && "link_hover",
    href=href
  )= text
