@use '../../styles/vars';

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px 20px;

  cursor: pointer;
  transition: opacity 0.3s;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 22px;
  background: var(--gradient);
  background-color: var(--gradient);

  font-family: var(--mainFont);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;

  &_border {
    position: relative;

    color: var(--purple);
    background: none;
    background-color: transparent;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      padding: 2px;

      content: '';

      border-radius: 22px;
      background: var(--gradient);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &_size_small {
    padding: 9px 20px;
  }

  &_active {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.5;
  }
}
