mixin link({text, href='/mock-address/change-me', border=false, active=false, size=''} = {})
  a.link(class=border ? 'link--border' : '', class=size === 'small' ? 'link--small' : '', class=active ? 'link--active' : '', href=href)= text
