mixin link({ text = '', href = '/mock-address/change-me', withBorder = false, isHovered = false, size = '' } = {})
  a.link(
    class=withBorder && "link_bordered",
    class=size === "small" && "link_size_small",
    class=isHovered && "link_hover",
    href=href
  )= text
