include ../dateField/dateField.pug
include ../datepicker/datepicker.pug

mixin calender(calenderId, datePickerId, type="")
  .calender(id=calenderId)
    if (type==='multiple')
      .calender__fields
        .calender__field.calender__field-js
          +dateField('прибытие', 'first-date')
        .calender__field.calender__field-js
          +dateField('выезд', 'last-date')
    else
      .calender__field.calender__field-js
        +dateField('даты пребывания в отеле', 'filter-field', 'ДД-ММ - ДД-ММ')

    .calender__date-picker.calender__date-picker--close
      +datepicker(datePickerId)
