include ../dateField/dateField.pug
.calender
  .calender__fields
    .calender__field
      +dateField('прибытие', 'first-date')
    .calender__field
      +dateField('выезд', 'last-date')
  .calender__date-picker.calender__date-picker--close
