.color-item {
  display: flex;
  align-items: center;

  &__color {
    width: 70px;
    height: 70px;
    margin-right: 40px;

    border-radius: 6px;

    &_darkShade {
      background-color: var(--darkShade);
    }

    &_darkShade75 {
      background-color: var(--darkShade75);
    }

    &_darkShade50 {
      background-color: var(--darkShade50);
    }

    &_darkShade25 {
      background-color: var(--darkShade25);
    }

    &_white {
      background-color: var(--white);
    }

    &_purple {
      background-color: var(--purple);
    }

    &_green {
      background-color: var(--green);
    }
  }

  &__column {
    color: var(--darkShade);

    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
  }

  &__title {
    margin-top: 2px;
  }

  &__text {
    font-weight: 400;
  }
}
